<launch>
    <include file="$(find hdpc_com)/launch/hdpc_geom.launch"/>


    <node type="hdpc_drive" pkg="hdpc_drive" name="hdpc_drive" output="screen">
        <param name="max_rotation_speed_rad_per_s" value="1.0" />
        <param name="max_linear_speed_m_per_s" value="0.9" />
        <param name="synchronise_steering" value="false" />
        <param name="zero_on_init" value="false" />
    </node>

    
</launch>
