<launch>
    <include file="$(find hdpc_com)/launch/hdpc_geom.launch"/>

    <node type="hdpc_com" pkg="hdpc_com" name="hdpc_com" output="screen">
        <param name="verbose" value="1" />
    </node>
    <node type="hdpc_visualize" pkg="hdpc_visualize" name="hdpc_visualize" output="screen">
    </node>

    <node type="hdpc_drive" pkg="hdpc_drive" name="hdpc_drive" output="screen">
        <param name="max_rotation_speed_rad_per_s" value="1.0" />
        <param name="max_linear_speed_m_per_s" value="0.9" />
        <param name="synchronise_steering" value="false" />
    </node>

    
    <node type="joy_node" pkg="joy" name="joy" output="screen">
        <param name="autorepeat_rate" value="10"/>
    </node>

    <node type="hdpc_teleop" pkg="hdpc_teleop" name="hdpc_teleop" output="screen">
        <param name="max_rotational_velocity" value="0.5" />
        <param name="max_linear_velocity" value="0.9" />
        <param name="initial_const_velocity_m_s" value="0.0" />
        <param name="const_velocity_increment_m_s" value="0.1" />
        <param name="dd_wheel_velocity_rad_s" value="0.0175" />
        <param name="dd_steering_increment_rad" value="0.0175" />
    </node>

    
</launch>
